<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Pizzeria - gestione Ingredienti'"></title>
    <!-- Blocco per stile bootsrap e css -->
    <th:block th:replace="~{ fragments/fragments :: Style}"></th:block>
  </head>
  <body>
    <header th:replace="~{ fragments/fragments :: header}"></header>
    <main class="text-center overflow-x-hidden" th:object="${ingredient}">
      <h1 class="mt-5 mb-5">Lista degli ingredienti</h1>
      <div class="container">
        <a th:href="@{ingredients/create}" class="btn btn-warning mb-5"
          >Aggiungi un nuovo Ingrediente</a
        >
        <u class="container-sm">
          <li
            th:each=" ingredient : ${ingredients}"
            class="mb-2 d-flex align-items-center justify-content-center gap-3"
          >
            <div>[[${ingredient.name}]]</div>

            <a
              th:href="@{ingredients/edit/{id} (id=${ingredient.id})}"
              class="btn btn-warning btn-sm"
              >modifica</a
            >
           <div>
            <!-- Button trigger modal -->
        <div>
           <form
                    th:action="@{/ingredients/delete/{id} (id =${ingredient.id})}"
                    th:method="post"
                    id="delete-form"
                  >
                    <button class="btn btn-danger" type="submit">
                      Elimina
                    </button>
                  </form>         
        </div>
           </div>
          </li>
        </ul>
      </div>
    </main>
    <footer></footer>
    <!-- Blocco per JS -->
    <th:block th:replace="~{ fragments/fragments :: BootJS}"></th:block>
  </body>
</html>
