header {
  background-color: #ff5454;
  border-bottom: solid yellow 5px;
}

.logo {
  max-width: 15%;
}

/* hover per bottoni nav */
.hov:hover {
  background-color: yellow;
}

/* Standardizzazione delle immagini delle pizze per index */
.pizzapic {
  max-width: 100px;
  height: 100px;
}

/* Standardizzazione delle immagini delle pizze per il dettaglio della pizza */
.pizzapicDetail {
  max-width: 500px;
  height: 500px;
}
